<div
  class="h-4rem flex justify-between items-center p-2 fixed top-0 left-0 right-0 gray"
>
  @if (hasBackButton) {
    <div class="flex-1">
      <p-button
        icon="pi pi-chevron-left"
        [rounded]="true"
        severity="secondary"
        [text]="true"
        (click)="goBack()"
      />
    </div>
  } @else {
    <div class="flex-1"></div>
  }
  <span class="flex-1 text-2xl text-center font-semibold align-self-center">{{
    title
  }}</span>
  <div class="flex-1"></div>
</div>
