@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin : 0;
  background-color: #f1f1f1;
}

.fullscreen {
  background-color: #f1f1f1;
  overflow: auto;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}
