<app-header title="Dashboard"></app-header>

<div class="fullscreen flex flex-column p-2 gap-4">
  <p-card routerLink="/chart">
    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
  </p-card>
  <p-card [header]="'this-week' | translate">
    <div class="flex flex-column gap-3 text-xl font-semibold">
      <div class="flex gap-4">
        <div class="flex gap-1 align-items-center">
          <img
            class="mr-1"
            ngSrc="./assets/icons/temperature.png"
            width="24"
            height="24"
          />
          <i class="pi pi-arrow-up"></i>
          <span>{{ maxTemp ?? '?' }}°C</span>
        </div>
        <div class="flex gap-1 align-items-center">
          <i class="pi pi-arrow-down"></i>
          <span>{{ minTemp ?? '?' }}°C</span>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="flex gap-1 align-items-center">
          <img ngSrc="./assets/icons/goutte.png" width="24" height="24" />
          <span>{{ rain ?? '?' }}mm</span>
        </div>
        <div class="flex gap-1 align-items-center">
          <img ngSrc="./assets/icons/vent.png" width="24" height="24" />
          <span>{{ wind ?? '?' }} km/h</span>
        </div>
      </div>
    </div>
  </p-card>
</div>

<p-button
  class="fixed right-0 bottom-0 m-2"
  icon="pi pi-plus"
  routerLink="/add"
  [rounded]="true"
></p-button>
